*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    border: 2px solid red;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
    --winner-cell-size: 50px;
    --winner-mark-size: calc(var(--winner-cell-size) * .9);
}

body {
    margin: 0;
    background-color: blue;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
}

.winner {
    display: none;
    justify-content: center;
    align-items: center;
}

.winnerText {
    padding-left: 15px;
    font-weight: bold;
    color: white;
    font-size: xx-large;
}

.restart {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    width: 100vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

button[class^='btn'] {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button.restartButton {
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: x-large;
    border: 1px solid white;
    border-radius: 5%;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: white;
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: white;
}

.cell.circle::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: blue;
}

.winnerCell {
    width: var(--winner-cell-size);
    height: var(--winner-cell-size);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.winnerCell.x::before,
.winnerCell.x::after {
    content: '';
    position: absolute;
    width: calc(var(--winner-mark-size) * .15);
    height: var(--winner-mark-size);
    background-color: white;
}

.winnerCell.x::before {
    transform: rotate(45deg);
}

.winnerCell.x::after {
    transform: rotate(-45deg);
}

.winnerCell.circle::before,
.winnerCell.circle::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.winnerCell.circle::before {
    width: var(--winner-mark-size);
    height: var(--winner-mark-size);
    background-color: white;
}

.winnerCell.circle::after {
    width: calc(var(--winner-mark-size) * .7);
    height: calc(var(--winner-mark-size) * .7);
    background-color: blue;
}